.header_menu {
    background-color: #decd87;
    color: #000000;
    padding:25px;

}
.main_body {
    background-color: #8ba7b4;
    color: black;
    padding: 20px;
}

.header_menu a{
  /*Чтобы ничего не слиплось в меню*/
  display:inline-block;
  padding:5px;
}

.orders_list {
    background-color: #8ba7b4;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
}

.orders_list th{
    border: 1px solid black;
}


.orders_list td{
    border: 1px solid black;
}


.probes_list {
    background-color: #8ba7b4;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
}

.probes_list th{
    border: 1px solid black;
    font-size: x-small;
}


.probes_list td{
    border: 1px solid black;
    font-size: x-small;
}

